<style>
    body{
        background: silver;
    }
  </style>
  
  <div style="margin: 50px; padding: 20px; background: whitesmoke; border: 1px solid black;">
  <form method="post" action="/register" enctype="multipart/form-data">
     <div>
         <input type="file" name="image"> 
     </div>    
     <div style="margin-top:20px;">
         <button type="submit" style="cursor:pointer;text-transform:uppercase;font-weight:bold;background: lightblue; color: black; border-radius:10px; padding: 20px;">register</button> 
     </div>    
  </form>
  </div>
  